<a href="https://colab.research.google.com/github/aazadvoice/Python_Journey/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series

In [ ]:
df=pd.read_csv('/content/sample_data/loan_small.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.head()

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y

In [ ]:
#creating a series from scalar values
s1=pd.Series(['one','two','three','four','five'])
s1

0      one
1      two
2    three
3     four
4     five
dtype: object

In [ ]:
#creating a series from scalar values
s2=Series(['one','two','three','four','five'])
s2

0      one
1      two
2    three
3     four
4     five
dtype: object

In [ ]:
s3=Series(['one','two','three','four','five'],index=[10,20,30,40,50])
s3

10      one
20      two
30    three
40     four
50     five
dtype: object

In [ ]:
s4=Series([10,20,30,40,50],index=['one','two','three','four','five'])
s4

one      10
two      20
three    30
four     40
five     50
dtype: int64

In [ ]:
#create a series from numpy array
import numpy as np

In [ ]:
arr=np.array([100,200,300,400,500,600,700,800,900,1000])
arr

array([ 100,  200,  300,  400,  500,  600,  700,  800,  900, 1000])

In [ ]:
s5=pd.Series(arr)
s5

0     100
1     200
2     300
3     400
4     500
5     600
6     700
7     800
8     900
9    1000
dtype: int64

In [ ]:
d1={"india":"New Delhi","Japan":"Tokyo","Srilanka":"Colombo",'Jordan':"Amman"}

In [ ]:
d1.keys()

dict_keys(['india', 'Japan', 'Srilanka', 'Jordan'])

In [ ]:
d1.values()

dict_values(['New Delhi', 'Tokyo', 'Colombo', 'Amman'])

In [ ]:
s6=pd.Series(d1)
s6

india       New Delhi
Japan           Tokyo
Srilanka      Colombo
Jordan          Amman
dtype: object

In [ ]:
#Attributes of the Series
s6.name="country_capital"

In [ ]:
s6

india       New Delhi
Japan           Tokyo
Srilanka      Colombo
Jordan          Amman
Name: country_capital, dtype: object

In [ ]:
s6.index.name="country_name"
s6

country_name
india       New Delhi
Japan           Tokyo
Srilanka      Colombo
Jordan          Amman
Name: country_capital, dtype: object

In [ ]:
s6.values

array(['New Delhi', 'Tokyo', 'Colombo', 'Amman'], dtype=object)

In [ ]:
s6

country_name
india       New Delhi
Japan           Tokyo
Srilanka      Colombo
Jordan          Amman
Name: country_capital, dtype: object

In [ ]:
s6.index #prints only the index

Index(['india', 'Japan', 'Srilanka', 'Jordan'], dtype='object', name='country_name')

In [ ]:
s6.size # prints the no. of elements

4

In [ ]:
s6.empty # returns true if the series has atleast one value, false otherwise

False

In [ ]:
ss1=pd.Series()

In [ ]:
s5

0     100
1     200
2     300
3     400
4     500
5     600
6     700
7     800
8     900
9    1000
dtype: int64

In [ ]:
# how many elements
s5.count()

10

In [ ]:
s5.head()

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [ ]:
s5.head(3)

0    100
1    200
2    300
dtype: int64

In [ ]:
s5.tail()

5     600
6     700
7     800
8     900
9    1000
dtype: int64

In [ ]:
#dataframe

In [ ]:
from pandas import DataFrame

In [ ]:
course=['PGDAI','PGDBA','PGDAC','PGDML',"PGDGI"]
language=['python','spark','java','python','R-prog']
number=[100,200,450,75,210]

In [ ]:
data={"course_name":course,"prog_lang":language,"student":number}

In [ ]:
data

{'course_name': ['PGDAI', 'PGDBA', 'PGDAC', 'PGDML', 'PGDGI'],
 'prog_lang': ['python', 'spark', 'java', 'python', 'R-prog'],
 'student': [100, 200, 450, 75, 210]}

In [ ]:
type(data)

dict

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

  course_name prog_lang  student
0       PGDAI    python      100
1       PGDBA     spark      200
2       PGDAC      java      450
3       PGDML    python       75
4       PGDGI    R-prog      210

In [ ]:
#create a dataframe with employee details such as empid,empname,salary,age and deptname

In [ ]:
id=[1234,1598,3578,6584,4567]
name=['abdallah','zaid','naji','moahmmad','omar']
age=[24,30,50,36,48]
dept=['electrical','computer','communication','electronics','networks']
data={'ID':id,'Name':name,'Age':age,'Dept':dept}
df=pd.DataFrame(data)
df

     ID      Name  Age           Dept
0  1234  abdallah   24     electrical
1  1598      zaid   30       computer
2  3578      naji   50  communication
3  6584  moahmmad   36    electronics
4  4567      omar   48       networks

In [ ]:
df = pd.DataFrame({'empid':[1002,1003,1004,1005,1006],
                   'ename' :['Narendra', 'Misti','happy', 'elvish', 'narula'],
                   'age':[70,15,16,24,40],
                   'Salary':[15000,5200,4500,6500,45550],
                   'city' :['delhi','noida','mumbai','delhi','noida']})
df

   empid     ename  age  Salary    city
0   1002  Narendra   70   15000   delhi
1   1003     Misti   15    5200   noida
2   1004     happy   16    4500  mumbai
3   1005    elvish   24    6500   delhi
4   1006    narula   40   45550   noida

In [ ]:
cid =[1002,1003,1004,1005,1006]
cname =['Narendra', 'Misti','happy', 'elvish', 'narula']
phone = [124555,56665,5658452,15666,26655]
city =['delhi','noida','mumbai','delhi','noida']
d1 = {'cid':cid,'cname':cname,'phone':phone,'city':city}
df1 = pd.DataFrame(d1)
df1

    cid     cname    phone    city
0  1002  Narendra   124555   delhi
1  1003     Misti    56665   noida
2  1004     happy  5658452  mumbai
3  1005    elvish    15666   delhi
4  1006    narula    26655   noida

In [ ]:
df['city']=['delhi','noida','mumbai','delhi','noida']

In [ ]:
df

     ID      Name  Age           Dept    city
0  1234  abdallah   24     electrical   delhi
1  1598      zaid   30       computer   noida
2  3578      naji   50  communication  mumbai
3  6584  moahmmad   36    electronics   delhi
4  4567      omar   48       networks   noida

In [ ]:
#adding a perticular column with data at a perticular position
df.insert(3,"phone",[68967876,5456,89789,4324,7886],True)

In [ ]:
df.insert(3,"Email",None)

In [ ]:
df

     ID      Name  Age Email     phone           Dept    city
0  1234  abdallah   24  None  68967876     electrical   delhi
1  1598      zaid   30  None      5456       computer   noida
2  3578      naji   50  None     89789  communication  mumbai
3  6584  moahmmad   36  None      4324    electronics   delhi
4  4567      omar   48  None      7886       networks   noida

In [ ]:
#Add a new column
df=df.assign(State=None)

In [ ]:
df.assign(zip=[24345,46456,456,46467,567])

     ID      Name  Age           Dept    city    zip
0  1234  abdallah   24     electrical   delhi  24345
1  1598      zaid   30       computer   noida  46456
2  3578      naji   50  communication  mumbai    456
3  6584  moahmmad   36    electronics   delhi  46467
4  4567      omar   48       networks   noida    567

In [ ]:
df

     ID      Name  Age           Dept    city
0  1234  abdallah   24     electrical   delhi
1  1598      zaid   30       computer   noida
2  3578      naji   50  communication  mumbai
3  6584  moahmmad   36    electronics   delhi
4  4567      omar   48       networks   noida

In [ ]:
#remove a column from the dataframe
df.drop(['Age'],axis=1)

     ID      Name Email     phone           Dept    city State
0  1234  abdallah  None  68967876     electrical   delhi  None
1  1598      zaid  None      5456       computer   noida  None
2  3578      naji  None     89789  communication  mumbai  None
3  6584  moahmmad  None      4324    electronics   delhi  None
4  4567      omar  None      7886       networks   noida  None

In [ ]:
df

     ID      Name  Age     phone           Dept    city
0  1234  abdallah   24  68967876     electrical   delhi
1  1598      zaid   30      5456       computer   noida
2  3578      naji   50     89789  communication  mumbai
3  6584  moahmmad   36      4324    electronics   delhi
4  4567      omar   48      7886       networks   noida

In [ ]:
df.pop('phone')

0    68967876
1        5456
2       89789
3        4324
4        7886
Name: phone, dtype: int64

In [ ]:
df

     ID      Name  Age Email           Dept    city State
0  1234  abdallah   24  None     electrical   delhi  None
1  1598      zaid   30  None       computer   noida  None
2  3578      naji   50  None  communication  mumbai  None
3  6584  moahmmad   36  None    electronics   delhi  None
4  4567      omar   48  None       networks   noida  None

In [ ]:
#creating a dataframe from a series
s1=pd.Series(['one','two','three','four','five'])
s1

0      one
1      two
2    three
3     four
4     five
dtype: object

In [ ]:
df=s1.to_frame()
df
df.shape

(5, 1)

In [ ]:
students = pd.Series(['aaa', 'bbb',
                         'ccc', 'ddd',
                         'eds', 'aaa'])
lang = pd.Series(['C++', 'java',
                        'python', 'python',
                        'R', 'python'])
marks = pd.Series([56, 78,
                      90, 70,
                      98, 67])
# create a dictionary
df = pd.DataFrame({"students": students,
        "language": lang,
        "marks": marks})

df

  students language  marks
0      aaa      C++     56
1      bbb     java     78
2      ccc   python     90
3      ddd   python     70
4      eds        R     98
5      aaa   python     67

In [ ]:
s1 = pd.Series([1, 2], index=['A', 'B'], name='s1')
s1

A    1
B    2
Name: s1, dtype: int64

In [ ]:
s1 = pd.Series([1, 2], index=['A', 'B'], name='s1')

s2 = pd.Series([3, 4], index=['A', 'B'], name='s2')

s3=pd.concat([s1, s2], axis=1)
s3

   s1  s2
A   1   3
B   2   4

In [ ]:
pd.concat([s1, s2], axis=1).reset_index()

  index  s1  s2
0     A   1   3
1     B   2   4

In [ ]:
df1 = pd.DataFrame(
       {
          "A": ["A0", "A1", "A2", "A3"],
          "B": ["B0", "B1", "B2", "B3"],
           "C": ["C0", "C1", "C2", "C3"],
           "D": ["D0", "D1", "D2", "D3"],
        },
       index=[0, 1, 2, 3],
  )

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2 = pd.DataFrame(
      {
           "A": ["A4", "A5", "A6", "A7"],
            "B": ["B4", "B5", "B6", "B7"],
           "C": ["C4", "C5", "C6", "C7"],
           "D": ["D4", "D5", "D6", "D7"],
       },
      index=[4, 5, 6, 7],
 )

df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3 = pd.DataFrame(
       {
          "A": ["A8", "A9", "A10", "A11"],
            "B": ["B8", "B9", "B10", "B11"],
         "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
      },
    index=[8, 9, 10, 11],
  )

df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:

frames = [df1, df2, df3]
type(frames)
result = pd.concat(frames)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
result = pd.concat(frames,axis=1)
result

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [ ]:
result = pd.concat(frames, keys=["x", "y", "z"])
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [ ]:
result.loc["y"]

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# create a dataframe from a numpy array
arr=np.array([[1,2,np.nan],[np.nan,3,4]])
arr

array([[ 1.,  2., nan],
       [nan,  3.,  4.]])

In [ ]:
df=DataFrame(arr,index=['A','B'],columns=['col1','col2','col3'])

In [ ]:
df

   col1  col2  col3
A   1.0   2.0   NaN
B   NaN   3.0   4.0

In [ ]:
x = df.values
type(x)

numpy.ndarray

In [ ]:
#attribute of dataframe
df.shape

(2, 3)

In [ ]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
df.ndim

2

In [ ]:
x=df.values

In [ ]:
type(x)

numpy.ndarray

In [ ]:
df.size

6

In [ ]:
df.dtypes

col1    float64
col2    float64
col3    float64
dtype: object

In [ ]:
#employee dataframe
df1

    cid     cname    phone    city
0  1002  Narendra   124555   delhi
1  1003     Misti    56665   noida
2  1004     happy  5658452  mumbai
3  1005    elvish    15666   delhi
4  1006    narula    26655   noida

In [ ]:
df1.dtypes

cid       int64
cname    object
phone     int64
city     object
dtype: object

In [ ]:
df1['city'].dtype

dtype('O')

In [ ]:
arr=np.array([[1,5,3],[10,25,5],[32,10,1],[np.nan,7,5],[1,np.nan,5]])

In [ ]:
df=DataFrame(arr,
                index=['India','USA','Russia','Italy','Germany'],
                columns=['Gold','Silver','Bronze'])

In [ ]:
df

         Gold  Silver  Bronze
India     1.0     5.0     3.0
USA      10.0    25.0     5.0
Russia   32.0    10.0     1.0
Italy     NaN     7.0     5.0
Germany   1.0     NaN     5.0

In [ ]:
df['Gold']

India       1.0
USA        10.0
Russia     32.0
Italy       NaN
Germany     1.0
Name: Gold, dtype: float64

In [ ]:
df[['Gold','Silver']]

         Gold  Silver
India     1.0     5.0
USA      10.0    25.0
Russia   32.0    10.0
Italy     NaN     7.0
Germany   1.0     NaN

In [ ]:
df.head(3)

        Gold  Silver  Bronze
India    1.0     5.0     3.0
USA     10.0    25.0     5.0
Russia  32.0    10.0     1.0

In [ ]:
#how to filter data from the dataframe

In [ ]:
df.filter(items=['Gold'])

         Gold
India     1.0
USA      10.0
Russia   32.0
Italy     NaN
Germany   1.0

In [ ]:
df.filter(items=['Gold','Silver'])

         Gold  Silver
India     1.0     5.0
USA      10.0    25.0
Russia   32.0    10.0
Italy     NaN     7.0
Germany   1.0     NaN

In [ ]:
df.filter(like='India',axis=0)

       Gold  Silver  Bronze
India   1.0     5.0     3.0

In [ ]:
df.filter(like='ver',axis=1)

         Silver
India       5.0
USA        25.0
Russia     10.0
Italy       7.0
Germany     NaN

In [ ]:
#how to read a csv file

In [ ]:
dataset = pd.read_csv(r'C:\Users\CDAC\Downloads\dataset\loan_small.csv')

In [ ]:
dt1=dataset
dt1

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y

In [ ]:
dataset

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y

In [ ]:
dataset.head()

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y

In [ ]:
dt1.dtypes

Loan_ID               object
Gender                object
ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount           float64
Area                  object
Loan_Status           object
dtype: object

In [ ]:
dataset.shape

(16, 7)

In [ ]:
dataset.size

112

In [ ]:
dataset.columns

Index(['Loan_ID', 'Gender', 'ApplicantIncome', 'CoapplicantIncome',
       'LoanAmount', 'Area', 'Loan_Status'],
      dtype='object')

In [ ]:
dataset.dtypes

Loan_ID               object
Gender                object
ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount           float64
Area                  object
Loan_Status           object
dtype: object

In [ ]:
dataset.describe()

       ApplicantIncome  CoapplicantIncome  LoanAmount
count        14.000000          15.000000   13.000000
mean       4103.571429        2509.333333  140.923077
std        2858.096481        3147.982090   86.032418
min        1299.000000           0.000000   17.000000
25%        2520.750000         350.000000  109.000000
50%        3118.000000        1526.000000  125.000000
75%        4858.250000        2672.000000  158.000000
max       12841.000000       10968.000000  349.000000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            16 non-null     object
 1   Gender             15 non-null     object
 2   ApplicantIncome    14 non-null     float64
 3   CoapplicantIncome  15 non-null     float64
 4   LoanAmount         13 non-null     float64
 5   Area               15 non-null     object
 6   Loan_Status        15 non-null     object
dtypes: float64(3), object(4)
memory usage: 1.0+ KB

In [ ]:
dataset['Gender'].dtype

dtype('O')

In [ ]:
dataset.tail(10)

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y

In [ ]:
dataset[10:15]

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y

In [ ]:
dataset[1:5]

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y

In [ ]:
dataset['Gender'][1:5]

1      Male
2      Male
3    Female
4      Male
Name: Gender, dtype: object

In [ ]:
dataset[['Gender','ApplicantIncome']][1:5]

   Gender  ApplicantIncome
1    Male           4583.0
2    Male           3000.0
3  Female           2583.0
4    Male              NaN

In [ ]:
dataset[['Loan_ID','Loan_Status']][5:11]

     Loan_ID Loan_Status
5   LP001011           Y
6   LP001013           Y
7   LP001014           N
8   LP001018           Y
9   LP001020           N
10  LP001024           Y

In [ ]:
#display specific rows n columns through iloc method

In [ ]:
dataset.iloc[1]

Loan_ID              LP001003
Gender                   Male
ApplicantIncome        4583.0
CoapplicantIncome         NaN
LoanAmount              128.0
Area                     semi
Loan_Status                 N
Name: 1, dtype: object

In [ ]:
dataset.iloc[0] # the first row data for all columns

Loan_ID              LP001002
Gender                    NaN
ApplicantIncome        5849.0
CoapplicantIncome         0.0
LoanAmount                NaN
Area                    urban
Loan_Status                 Y
Name: 0, dtype: object

In [ ]:
dataset.iloc[-1] # the last row data for all columns

Loan_ID              LP001032
Gender                   Male
ApplicantIncome        4950.0
CoapplicantIncome         0.0
LoanAmount              125.0
Area                     semi
Loan_Status                 Y
Name: 15, dtype: object

In [ ]:
# all rows of the first column
# dataset.iloc[rows,cols]
#dataset.iloc[:,:]
dataset.iloc[:,0]

0     LP001002
1     LP001003
2     LP001005
3     LP001006
4     LP001008
5     LP001011
6     LP001013
7     LP001014
8     LP001018
9     LP001020
10    LP001024
11    LP001027
12    LP001028
13    LP001029
14    LP001030
15    LP001032
Name: Loan_ID, dtype: object

In [ ]:
# all row of the last column
# dataset.iloc[rows,cols]
dataset.iloc[:,-1]

0       Y
1       N
2       Y
3     NaN
4       Y
5       Y
6       Y
7       N
8       Y
9       N
10      Y
11      Y
12      Y
13      N
14      Y
15      Y
Name: Loan_Status, dtype: object

In [ ]:
# display the First 5 applicant's loan status
# dataset.iloc[rows,cols]
dataset.iloc[0:5,-1]

0      Y
1      N
2      Y
3    NaN
4      Y
Name: Loan_Status, dtype: object

In [ ]:
# display the last 5 applicant's loan status
# dataset.iloc[rows,cols]
dataset.iloc[0:5,-1]

0      Y
1      N
2      Y
3    NaN
4      Y
Name: Loan_Status, dtype: object

In [ ]:
dataset.head()

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y

In [ ]:
dataset.iloc[0:3,1:4]

  Gender  ApplicantIncome  CoapplicantIncome
0    NaN           5849.0                0.0
1   Male           4583.0                NaN
2   Male           3000.0                0.0

In [ ]:
dataset.iloc[3:,1:4]

    Gender  ApplicantIncome  CoapplicantIncome
3   Female           2583.0             2358.0
4     Male              NaN                0.0
5     Male           5417.0             4196.0
6     Male           2333.0             1516.0
7   Female           3036.0             2504.0
8     Male           4006.0             1526.0
9     Male          12841.0            10968.0
10  Female           3200.0              700.0
11    Male           2500.0             1840.0
12  Female              NaN             8106.0
13    Male           1853.0             2840.0
14    Male           1299.0             1086.0
15    Male           4950.0                0.0

In [ ]:
#data in the 1st 2 cols
dataset.iloc[:,0:2]
dataset.iloc[:,:2]

     Loan_ID  Gender
0   LP001002     NaN
1   LP001003    Male
2   LP001005    Male
3   LP001006  Female
4   LP001008    Male
5   LP001011    Male
6   LP001013    Male
7   LP001014  Female
8   LP001018    Male
9   LP001020    Male
10  LP001024  Female
11  LP001027    Male
12  LP001028  Female
13  LP001029    Male
14  LP001030    Male
15  LP001032    Male

In [ ]:
#display the 1st and 5th row
dataset.iloc[[0,4]]

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
4,LP001008,Male,NaN,0.0,141.0,urban,Y

In [ ]:
#display the 1st and 5th row of the 2nd and 4th column.
dataset.iloc[[0,4],[1,4]]

  Gender  LoanAmount
0    NaN         NaN
4   Male       141.0

In [ ]:
#display the 3rd and 8th row of last column
dataset.iloc[[2,7],[-1]]

  Loan_Status
2           Y
7           N

In [ ]:
#display the 2nd and 7th row of the 2nd and 4th  and 6th column.
dataset.iloc[[1,6],[1,3,5]]

  Gender  CoapplicantIncome Loan_Status
1   Male                NaN           N
6   Male             1516.0           Y

In [ ]:
#display the 10th to 15th  row of the 2nd and 4th  and 6th column.

In [ ]:
dataset.iloc[10:15,[1,3,5]]

    Gender  CoapplicantIncome   Area
10  Female              700.0  urban
11    Male             1840.0  urban
12  Female             8106.0  urban
13    Male             2840.0  urban
14    Male             1086.0   semi

In [ ]:
#filter the data from the dataset based on a perticular condition

In [ ]:
dataset[['Gender']]

    Gender
0      NaN
1     Male
2     Male
3   Female
4     Male
5     Male
6     Male
7   Female
8     Male
9     Male
10  Female
11    Male
12  Female
13    Male
14    Male
15    Male

In [ ]:
#display the only the female applicants
dataset[dataset['Gender']=='Female']

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y

In [ ]:
dataset[dataset['Gender']=='Female'][0:3]

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y

In [ ]:
#how many male applicants are there
len(dataset[dataset['Gender']=='Male'])

11

In [ ]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# Display the detail of applicants whose loan is approved.
dataset[dataset['Loan_Status']=='Y']

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
4,LP001008,Male,NaN,0.0,141.0,urban,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y

In [ ]:
#How many applicant's loan is approved
len=len(dataset[dataset['Loan_Status']=='Y'])
len

11

In [ ]:
dataset[dataset['Loan_Status']=='Y']['LoanAmount'].sum()

np.float64(963.0)

In [ ]:
dataset['ApplicantIncome']
dataset['ApplicantIncome'].mean()

np.float64(4103.571428571428)

In [ ]:
# Display the loan id and the applicant income of the applicants whose loan is approved.
dataset[dataset['Loan_Status']=='Y'][['Loan_ID','ApplicantIncome','Loan_Status']]

     Loan_ID  ApplicantIncome Loan_Status
0   LP001002           5849.0           Y
2   LP001005           3000.0           Y
4   LP001008              NaN           Y
5   LP001011           5417.0           Y
6   LP001013           2333.0           Y
8   LP001018           4006.0           Y
10  LP001024           3200.0           Y
11  LP001027           2500.0           Y
12  LP001028              NaN           Y
14  LP001030           1299.0           Y
15  LP001032           4950.0           Y

In [ ]:
# Display the loan id and the applicant income of the applicants whose loan is not approved.
dataset[dataset['Loan_Status']=='N'][['Loan_ID','ApplicantIncome','Loan_Status']]
# Display the loan id and the applicant income of the applicants whose loan is approved.
dataset[dataset['Loan_Status']!='Y'][['Loan_ID','ApplicantIncome','Loan_Status']]

     Loan_ID  ApplicantIncome Loan_Status
1   LP001003           4583.0           N
3   LP001006           2583.0         NaN
7   LP001014           3036.0           N
9   LP001020          12841.0           N
13  LP001029           1853.0           N

In [ ]:
# Display the loan id and the applicant income of the applicants whose income is greater than 5000
dataset[dataset['ApplicantIncome']>5000][['Loan_ID','ApplicantIncome','Loan_Status']]

    Loan_ID  ApplicantIncome Loan_Status
0  LP001002           5849.0           Y
5  LP001011           5417.0           Y
9  LP001020          12841.0           N

In [ ]:
#display the applicant detail of all females with income greater than equal to 3000.
dataset[(dataset['Gender']=='Female') & (dataset['ApplicantIncome']>=3000)]

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y

In [ ]:
#display the applicant detail of all females whose loan is approved.
dataset[(dataset['Gender']=='Female') & (dataset['Loan_Status']>='Y')]

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y

In [ ]:
#sorting the records

In [ ]:
#sort the records by the income of the applicants
d1=dataset.sort_values(by='ApplicantIncome')

In [ ]:
d1

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
15,LP001032,Male,4950.0,0.0,125.0,semi,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
4,LP001008,Male,NaN,0.0,141.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y

In [ ]:
dataset

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
4,LP001008,Male,NaN,0.0,141.0,urban,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y

In [ ]:
dataset.sort_values(by='ApplicantIncome',ascending=False)

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
4,LP001008,Male,NaN,0.0,141.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y

In [ ]:
dataset.sort_values(by='Loan_Status',ascending=False)

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
4,LP001008,Male,NaN,0.0,141.0,urban,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
15,LP001032,Male,4950.0,0.0,125.0,semi,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN

In [ ]:
#sort the data by the loan status in ascending and the applicant income in descending order.
dataset.sort_values(by=['ApplicantIncome','Loan_Status'],ascending=[True,False])

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
14,LP001030,Male,1299.0,1086.0,17.0,semi,Y
13,LP001029,Male,1853.0,2840.0,114.0,urban,N
6,LP001013,Male,2333.0,1516.0,NaN,rural,Y
11,LP001027,Male,2500.0,1840.0,109.0,urban,Y
3,LP001006,Female,2583.0,2358.0,120.0,semi,NaN
2,LP001005,Male,3000.0,0.0,66.0,NaN,Y
7,LP001014,Female,3036.0,2504.0,158.0,semi,N
10,LP001024,Female,3200.0,700.0,70.0,urban,Y
8,LP001018,Male,4006.0,1526.0,168.0,rural,Y
1,LP001003,Male,4583.0,NaN,128.0,semi,N
15,LP001032,Male,4950.0,0.0,125.0,semi,Y
5,LP001011,Male,5417.0,4196.0,267.0,semi,Y
0,LP001002,NaN,5849.0,0.0,NaN,urban,Y
9,LP001020,Male,12841.0,10968.0,349.0,semi,N
4,LP001008,Male,NaN,0.0,141.0,urban,Y
12,LP001028,Female,NaN,8106.0,NaN,urban,Y

In [ ]:
# Display the loan id ,gender and the applicant income of the applicants whose
# income is greater than 3000 in the order of gender
dataset[dataset['ApplicantIncome']>3000][['Loan_ID','Gender','ApplicantIncome','Loan_Status']].sort_values(by='Gender')

     Loan_ID  Gender  ApplicantIncome Loan_Status
7   LP001014  Female           3036.0           N
10  LP001024  Female           3200.0           Y
1   LP001003    Male           4583.0           N
5   LP001011    Male           5417.0           Y
8   LP001018    Male           4006.0           Y
9   LP001020    Male          12841.0           N
15  LP001032    Male           4950.0           Y
0   LP001002     NaN           5849.0           Y

In [ ]:
# Display the loan id ,gender and the applicant income of the applicants whose
# income is greater than 3000 in the order of their income in descending order.
dataset[dataset['ApplicantIncome']>3000][['Loan_ID','Gender','ApplicantIncome','Loan_Status']].sort_values(by='ApplicantIncome',ascending=False)

     Loan_ID  Gender  ApplicantIncome Loan_Status
9   LP001020    Male          12841.0           N
0   LP001002     NaN           5849.0           Y
5   LP001011    Male           5417.0           Y
15  LP001032    Male           4950.0           Y
1   LP001003    Male           4583.0           N
8   LP001018    Male           4006.0           Y
10  LP001024  Female           3200.0           Y
7   LP001014  Female           3036.0           N

In [ ]:
#create a employee dataset

In [ ]:
ids=[100,101,102,103,104,105,106,107,108,109]
ename=['A','B','C','A','B','k','p','G','A','S']
salary=[1000,3000,4500,6000,2300,12000,4400,2399,4000,6000]
dept=[10,20,30,20,20,20,10,20,10,40]
emp=pd.DataFrame({"empid":ids,"empname":ename,"sal":salary,"dept":dept})

In [ ]:
emp

   empid empname    sal  dept
0    100       A   1000    10
1    101       B   3000    20
2    102       C   4500    30
3    103       A   6000    20
4    104       B   2300    20
5    105       k  12000    20
6    106       p   4400    10
7    107       G   2399    20
8    108       A   4000    10
9    109       S   6000    40

In [ ]:
#display the employee details who work in dept 10 or 20
 #isin()
emp[emp.dept.isin([10,20])]
l1=[10,30,40]
emp[emp.dept.isin(l1)]

   empid empname   sal  dept
0    100       A  1000    10
2    102       C  4500    30
6    106       p  4400    10
8    108       A  4000    10
9    109       S  6000    40

In [ ]:
#display the employee details who do not work in dept 10
emp[~emp.dept.isin([10])]

   empid empname    sal  dept
1    101       B   3000    20
2    102       C   4500    30
3    103       A   6000    20
4    104       B   2300    20
5    105       k  12000    20
7    107       G   2399    20
9    109       S   6000    40

In [ ]:
#print all the unique depts
emp.dept.unique()

array([10, 20, 30, 40])

In [ ]:
#print all the unique employees
emp.empname.unique()

array(['A', 'B', 'C', 'k', 'p', 'G', 'S'], dtype=object)

In [ ]:
#grouping by dept
emp.groupby('dept').groups

{10: [0, 6, 8], 20: [1, 3, 4, 5, 7], 30: [2], 40: [9]}

In [ ]:
#grouping by dept
emp.groupby(['dept','empname']).groups

{(10, 'A'): [0, 8], (10, 'p'): [6], (20, 'A'): [3], (20, 'B'): [1, 4], (20, 'G'): [7], (20, 'k'): [5], (30, 'C'): [2], (40, 'S'): [9]}

In [ ]:
url='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'

In [ ]:
import webbrowser

In [ ]:
webbrowser.open(url)

False